* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100%;
    width: 100%;
}

body {
	height: 100%;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    overflow: hidden;
    position: relative;
    z-index: -3;
    /* cursor: none; */
}

main{
    background-color: white;
    height: 80vh;
    width: 90vw;
    border-radius: 15px;
    padding: 20px 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: -2;
    overflow: hidden;
}

main>nav{
    height: 50px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 10px;
    font-weight: 100;
}

nav>.nav-1{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-1>h2{
    /* background-color: red; */
    border-radius: 50px;
    padding: 5px 10px;
}

.nav-1>button{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    scale: 1.3;
}

button>img{
    height: 100%;
    scale: 1.3;
}

.nav-2{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-2>h2{
    text-transform: uppercase;
    scale: 1.3;
    font-weight: 300;
}

.nav-3{
    display: flex;
    align-items: center;
    gap: 4px;

}

.nav-3 button{
    padding: 6px 10px;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid black;
    transition: all ease 400ms;
}



.nav-3 button:hover{
    background-color: rgb(250, 68, 12);
    color: white;
    border: none;
}

.nav-3 button:hover~button{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.nav-3 button:nth-child(2){
    color: white;
    border: none;
    background-color: rgb(250, 68, 12);
}

h1{
    font-size: 8vw;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 300;
    background-color: transparent;
    opacity: 1;
    color: transparent;
    transition: all ease 200ms;
    -webkit-text-stroke: 2px black;
}

main>img{
    position: absolute;
    transform: translate(-50% , -50%);
    height: 350px;
    width: 250px;
    border-radius: 20px;
    transition: all ease 200ms;
    top: 50%;
    left: 50%;
    /* display: none; */
}





